/* 引入字体 */
@font-face {
  font-family: "PingFangSCRegular";
  src: url('../fonts/PingFangSCRegular.ttf') format('truetype');
}

/* 引入阿里矢量图标 */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "PingFangSCRegular";
}
.center-wrap {
  width: 1152px;
  margin: 0 auto;
}
.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: '';
  display: block;
  /* 清除了左右两侧的浮动效果 */
  clear: both;
  overflow: hidden;
}
.dis_b {
  display: block;
}
.di_ib {
  display: inline-block;
}
.tac {
  text-align: center;
}
