/* 标题 */
.second-title{
  margin-bottom: 32px;
}
/* 二级标题的通用样式 */
.second-title >h2 {
  float: left;
  font-size: 36px;
  color: #1C1F21;
  /* 加粗 */
  font-weight: bold;
}
.second-title > em {
  float: left;
  /* 相对定位 */
  position: relative;
  top: 25px;
  left: 12px;
  font-size: 12px;
  color: #1C1F21;
}
