.hot-advert {
  margin: 32px 0;
}
.hot-advert .center-wrap >ul >li {
  float: left;
  width: 264px;
  height: 110px;
  margin-right: 32px;
}
.hot-advert .center-wrap >ul >li:last-child {
  margin-right: 0;
}